// Tooltips & Popovers

@use "../../assets/themes/blue-alt/variables" as theme;
.popover,
.tooltip {
  opacity: 0;
  transition: opacity .2s ease;

  &.show {
    opacity: 1;
  }
}

// Popover

.popover {
  box-shadow: theme.$box-shadow-default;
}
