<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="row">
  <div class="col-md-6">
    <h6 class="mb-3">
      Basic
    </h6>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" 
                    (click)="panel1Open = !panel1Open"
                    [attr.aria-expanded]="panel1Open"
                    aria-controls="collapseOne">
              <span class="card-header--title">Simple</span>
            </button>
          </h5>
        </div>
        <div id="collapseOne" [ngbCollapse]="!panel1Open" class="collapse" aria-labelledby="headingOne">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
            tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" 
                    (click)="panel2Open = !panel2Open"
                    [attr.aria-expanded]="panel2Open"
                    aria-controls="collapseTwo">
              <span class="card-header--title">★ <b>Fancy</b> title ★</span>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" [ngbCollapse]="!panel2Open" class="collapse" aria-labelledby="headingTwo">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed disabled" type="button" disabled>
              <span class="card-header--title">Disabled</span>
            </button>
          </h5>
        </div>
      </div>
    </div>
    
    <h6 class="mb-3 mt-3">
      One panel at a time (Accordion)
    </h6>
    <div class="accordion" id="accordionExample2">
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" 
                    (click)="openAccordionPanel('panel3')"
                    [attr.aria-expanded]="activePanel === 'panel3'"
                    aria-controls="collapseFour">
              <span class="card-header--title">First Panel</span>
            </button>
          </h5>
        </div>
        <div id="collapseFour" [ngbCollapse]="activePanel !== 'panel3'" class="collapse" aria-labelledby="headingFour">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
            This accordion only allows one panel open at a time.
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" 
                    (click)="openAccordionPanel('panel4')"
                    [attr.aria-expanded]="activePanel === 'panel4'"
                    aria-controls="collapseFive">
              ★ <b>Second Panel</b> ★
            </button>
          </h5>
        </div>
        <div id="collapseFive" [ngbCollapse]="activePanel !== 'panel4'" class="collapse" aria-labelledby="headingFive">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
            Only one panel can be open at a time in this accordion.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h6 class="mb-3">
      Toggle Panels (Independent)
    </h6>
    <div class="accordion" id="accordionToggle">
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" 
                    (click)="toggle1Open = !toggle1Open"
                    [attr.aria-expanded]="toggle1Open"
                    aria-controls="toggleOne">
              <span class="card-header--title">First panel</span>
            </button>
          </h5>
        </div>
        <div id="toggleOne" [ngbCollapse]="!toggle1Open" class="collapse" aria-labelledby="headingSix">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
            This panel can be toggled independently.
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" 
                    (click)="toggle2Open = !toggle2Open"
                    [attr.aria-expanded]="toggle2Open"
                    aria-controls="toggleTwo">
              <span class="card-header--title">Second</span>
            </button>
          </h5>
        </div>
        <div id="toggleTwo" [ngbCollapse]="!toggle2Open" class="collapse" aria-labelledby="headingSeven">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
            This panel is also independent.
          </div>
        </div>
      </div>
    </div>
    
    <div class="divider"></div>
    <div class="text-center">
      <button class="btn btn-primary me-2" (click)="toggle1Open = !toggle1Open">Toggle first</button>
      <button class="btn btn-info" (click)="toggle2Open = !toggle2Open">Toggle second</button>
    </div>

    <h6 class="mb-3 mt-3">
      Prevention Example
    </h6>
    <div class="accordion" id="accordionPrevent">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" 
                    (click)="prevent1Open = !prevent1Open"
                    [attr.aria-expanded]="prevent1Open">
              <span class="card-header--title">Can be toggled</span>
            </button>
          </h5>
        </div>
        <div [ngbCollapse]="!prevent1Open" class="collapse">
          <div class="card-body">
            This panel can be opened and closed normally.
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" 
                    (click)="handlePreventToggle()"
                    [attr.aria-expanded]="prevent2Open">
              <span class="card-header--title">I can't be toggled...</span>
            </button>
          </h5>
        </div>
        <div [ngbCollapse]="!prevent2Open" class="collapse">
          <div class="card-body">
            This panel's toggle is prevented by logic.
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3 mt-3">
      <div class="card-header">
        NgBootstrap Collapse
      </div>
      <div class="card-body">
        <button type="button"
                class="btn btn-primary"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed"
                aria-controls="collapseExample">
          Toggle
        </button>

        <div id="collapseExample" class="mt-3" [ngbCollapse]="isCollapsed">
          <div class="card">
            <div class="card-body">
              You can collapse this card by clicking Toggle. This uses NgBootstrap's collapse directive.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>