// User Pages
@use "../../assets/layout/layout-variables" as *;
@use "../../assets/themes/blue-alt/variables" as theme;
.app-logo {
  height: $logo-height;
  width: $logo-width;
  background-image: url('../../assets/images/logo-inverse.png');
}

.app-logo-inverse {
  height: $logo-height;
  width: $logo-width;
  background-image: url('../../assets/images/logo.png');
}

.app-login-box {
  .app-logo {
    margin-bottom: $layout-spacer-lg;
  }

  h4 {
    margin-bottom: $layout-spacer-x;
    font-weight: normal;

    div {
      opacity: .6;
    }

    span {
      font-size: theme.$font-size-lg;
    }
  }
}
