# This file is currently used by autoprefixer to adjust CSS to support the below specified browsers
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries
#
# Angular 20 compatible browser configuration

last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 2 Edge versions
Firefox ESR
not dead
not IE 9-11
not KaiOS < 3.0
not op_mini all
not and_qq < 15
not and_uc < 16
not opera < 118
not samsung < 29