<div class="d-block">
  <canvas baseChart
    [data]="chartData"
    [options]="lineChartOptions"
    [type]="lineChartType"
    [plugins]="lineChartPlugins"
    (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"></canvas>
</div>
<div class="table-responsive">
  <table class="table mt-3 table-condensed table-hover table-bordered">
    <thead>
      <tr>
        @for (label of chartData.labels; track label) {
          <th>{{label}}</th>
        }
      </tr>
    </thead>
    @for (d of chartData.datasets; track d; let i = $index) {
      <tr [class]="'line-'+i">
        @for (label of chartData.labels; track label; let j = $index) {
          <td>{{d && d.data[j]}}</td>
        }
      </tr>
    }
  </table>
</div>
<div class="text-center">
  <button class="btn btn-primary me-2 mb-2" (click)="randomize()">Randomize</button>
  <button class="btn btn-primary me-2 mb-2" (click)="pushOne()">Push</button>
  <button class="btn btn-primary me-2 mb-2" (click)="changeColor()">Recolor</button>
  <button class="btn btn-primary me-2 mb-2" (click)="hideOne()">Toggle Series B</button>
  <button class="btn btn-primary me-2 mb-2" (click)="changeLabel()">Change Label</button>
</div>
