<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
     (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div class="logo-src"></div>
    <div class="header__pane ms-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
              [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <div class="sidebar-scrollbar">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <div class="vsm-header">Main Navigation</div>
            
            <!-- Dashboards -->
            <div class="vsm-item" [class.vsm-active]="extraParameter === 'dashboardsMenu'">
              <a routerLink="/dashboards/analytics" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon pe-7s-rocket"></i>
                <span class="vsm-title">Dashboards</span>
              </a>
            </div>

            <!-- Pages -->
            <div class="vsm-item has-sub" [class.vsm-open]="extraParameter === 'pagesMenu'">
              <a href="javascript:void(0);" class="vsm-link" (click)="toggleSubmenu('pagesMenu')">
                <i class="vsm-icon pe-7s-browser"></i>
                <span class="vsm-title">Pages</span>
                <i class="vsm-arrow"></i>
              </a>
              <div class="vsm-dropdown" *ngIf="openMenus.includes('pagesMenu')">
                <div class="vsm-list">
                  <div class="vsm-item">
                    <a routerLink="/pages/login-boxed" routerLinkActive="active-item" class="vsm-link">
                      <span class="vsm-title">Login Boxed</span>
                    </a>
                  </div>
                  <div class="vsm-item">
                    <a routerLink="/pages/register-boxed" routerLinkActive="active-item" class="vsm-link">
                      <span class="vsm-title">Register Boxed</span>
                    </a>
                  </div>
                  <div class="vsm-item">
                    <a routerLink="/pages/forgot-password-boxed" routerLinkActive="active-item" class="vsm-link">
                      <span class="vsm-title">Forgot Password Boxed</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="vsm-header">UI Components</div>

            <!-- Elements -->
            <div class="vsm-item has-sub" [class.vsm-open]="extraParameter === 'elementsMenu'">
              <a href="javascript:void(0);" class="vsm-link" (click)="toggleSubmenu('elementsMenu')">
                <i class="vsm-icon pe-7s-car"></i>
                <span class="vsm-title">Elements</span>
                <i class="vsm-arrow"></i>
              </a>
              <div class="vsm-dropdown" *ngIf="openMenus.includes('elementsMenu')">
                <div class="vsm-list">
                  <div class="vsm-header">Elements</div>
                  <div class="vsm-item">
                    <a routerLink="/elements/buttons-standard" routerLinkActive="active-item" class="vsm-link">
                      <span class="vsm-title">Standard Buttons</span>
                    </a>
                  </div>
                  <div class="vsm-item">
                    <a routerLink="/elements/dropdowns" routerLinkActive="active-item" class="vsm-link">
                      <span class="vsm-title">Dropdowns</span>
                    </a>
                  </div>
                  <div class="vsm-item">
                    <a routerLink="/elements/icons" routerLinkActive="active-item" class="vsm-link">
                      <span class="vsm-title">Icons</span>
                    </a>
                  </div>
                  <div class="vsm-item">
                    <a routerLink="/elements/cards" routerLinkActive="active-item" class="vsm-link">
                      <span class="vsm-title">Cards</span>
                    </a>
                  </div>
                  <div class="vsm-item">
                    <a routerLink="/elements/list-group" routerLinkActive="active-item" class="vsm-link">
                      <span class="vsm-title">List Groups</span>
                    </a>
                  </div>
                  <div class="vsm-item">
                    <a routerLink="/elements/timeline" routerLinkActive="active-item" class="vsm-link">
                      <span class="vsm-title">Timeline</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- Components -->
            <div class="vsm-item has-sub" [class.vsm-open]="extraParameter === 'componentsMenu'">
              <a href="javascript:void(0);" class="vsm-link" (click)="toggleSubmenu('componentsMenu')">
                <i class="vsm-icon pe-7s-diamond"></i>
                <span class="vsm-title">Components</span>
                <i class="vsm-arrow"></i>
              </a>
              <div class="vsm-dropdown" *ngIf="openMenus.includes('componentsMenu')">
                <div class="vsm-list">
                  <div class="vsm-header">Components</div>
                  <div class="vsm-item">
                    <a routerLink="/components/tabs" routerLinkActive="active-item" class="vsm-link">
                      <span class="vsm-title">Tabs</span>
                    </a>
                  </div>
                  <div class="vsm-item">
                    <a routerLink="/components/accordions" routerLinkActive="active-item" class="vsm-link">
                      <span class="vsm-title">Accordions</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>