@forward "bootstrap/scss/bootstrap" with ($primary: #034ea2,
    $secondary: #6c757d,
    $success: #28a745,
    $info: #17a2b8,
    $warning: #ffc107,
    $danger: #dc3545,
    $light: #f8f9fa,
    $dark: #343a40,
    $body-bg: #f4f6f9,
    $body-color: #505050,
);